body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Header */
.top {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.top-container {
  display: flex;
  align-items: center;
}
.top-navigate {
  display: flex;
  align-items: center;
  flex-direction: row;
}
/*Logo*/
.top-navigate-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}
.top-logo-word {
  color: #2e2f42;
}
/*Navigation*/
.top-navigate-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link.current {
  position: relative;
}
.navigation-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link.current {
  color: #404bbf;
}

/*Contact*/
.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-list-link {
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}

/* Main*/

/* First section Article*/
.article {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background_section_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}
.article-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.article-interactive {
  display: block;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  padding: 16px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.article-interactive:hover,
.article-interactive:focus {
  background-color: #404bbf;
}

/*Second section Benefits*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 72px;
}
.benefits-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.benefits-icons {
  display: flex;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}
.benefits-list-title {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-list-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Third section Team*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.team-cards {
  display: flex;
  gap: 24px;
}
.team-cards-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item-person {
  padding: 32px 0;
}
.team-person-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-social-links{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 24px;
}
.team-person-links-item{}

.team-person-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-person-link-icon {
    fill: #F4F4FD;
}
.team-person-link:hover,
.team-person-link:focus{
      background-color: #404BBF;
}

/* Forth section Portfolio*/
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-cards-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards-photo {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-cards-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-app-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-app-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-cards-app {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

/*Footer*/
.bottom {
  background-color: #2e2f42;
  padding: 100px 0;
}
.bottom-container{
  display: flex;
  align-items: baseline;
}
.bottom-link{
  margin-right: 120px;
}
.bottom-link-logo {
  justify-content: center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.bottom-logo-word {
  color: #f4f4fd;
}
.bottom--link-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.bottom-media-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
} 
.bottom-media-links{
  display: flex;
  gap: 16px;
}
.bottom-links-item{}
.bottom-social-link-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.bottom-social-link-icon {
  fill: #F4F4FD;
}
.bottom-social-link-item:hover,
.bottom-social-link-item:focus{
  background-color:  #31D0AA;
}

.bottom-subcribe{
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.bottom-subcribe-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.bottom-form{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.bottom-form-input{
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-left: 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-form-input::placeholder{
  color: #FFFFFF;
}
.bottom-form-input:focus{
  border-color: #31D0AA;
}
.bottom-subcribe-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  background-color: #4D5AE5;
  cursor: pointer;
  border: none;
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-subcribe-button-icon{
  margin-left: 16px;
}
.bottom-subcribe-button:hover,
.bottom-subcribe-button:focus{
  background-color:  #31D0AA;
}

/* Modal */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
  opacity: 1;
  visibility:visible;
  pointer-events:auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal{
  transform: translate(-50%, -100%);
}
.modal-close-btn{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon{
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
  border: none;
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
  fill: #FFFFFF;
}
.modal-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 16px;
}
.modal-field-info{
  margin-bottom: 8px;
}
.modal-field-comment{
  margin-bottom: 16px;
}
.modal-field-label{
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}
.modal-field-info-wrapper{
  position: relative;
}
.modal-field-info-wrapper svg{
  position: absolute;
  fill: #2E2F42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-text-input{
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent; 
  padding: 11px 16px 11px 38px;
  outline: transparent; ;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2E2F42;;
}
.modal-field-text-input:focus{
  border-color: #4D5AE5;
}
.modal-field-text-input:focus + svg{
  fill: #4D5AE5;
}
.modal-field-textarea{
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-textarea::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-field-textarea:focus{
  border-color: #4D5AE5;
}
.modal-field-rules{
  margin-bottom: 24px;
}
.modal-custom-checkbox{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-privacy{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  }
.modal-field-privacy-link{
line-height: 1.3;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4D5AE5;
}
.modal-field-checkbox:checked + .modal-field-privacy > .modal-custom-checkbox {
background-color: #404BBF;
border: none;
fill: #F4F4FD;
}
.modal-submit-btn{
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4D5AE5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus{
  background-color: #404bbf;
}